<a href="https://colab.research.google.com/github/Hidayathamir/Spell-Checker-Indonesia/blob/main/Spell_Checker.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install sastrawi

Requirement already satisfied: sastrawi in /usr/local/lib/python3.7/dist-packages (1.0.1)

In [2]:
import pandas as pd
import string
import nltk
nltk.download('punkt')
from nltk import word_tokenize
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [3]:
kbbi = pd.read_csv('https://raw.githubusercontent.com/Hidayathamir/kata-kbbi-github/main/kbbi.csv')
kbbi

                  kata
0              alokasi
1                anyel
2                ahsan
3              abalone
4      assalamualaikum
...                ...
72417           zawiah
72418    zooaprokrisis
72419            zabib
72420         zeodaria
72421          zimurgi

[72422 rows x 1 columns]

In [4]:
def set_from_txt(filename):
  with open(filename, 'r') as file:
    text = file.read().lower()
    # replace punctuation with whitespace
    translator = str.maketrans(string.punctuation, ' '*len(string.punctuation))
    text = text.translate(translator)
    tokens = [token for token in word_tokenize(text) if token.isalpha()]
    set_text = set(tokens)
    return set_text

In [5]:
stemmer = StemmerFactory().create_stemmer()

In [6]:
set_txt  = set_from_txt('example.txt')
set_kbbi = set(kbbi['kata'])
set_error = set_txt - set_kbbi
for kata in set_error.copy():
  kata_stem = stemmer.stem(kata)
  if kata_stem in set_kbbi:
    set_error.remove(kata)

In [ ]:
sorted(set_error)